div.animation6 {
    background-color: rebeccapurple;
    -webkit-animation: animation6 3s ease-in-out infinite;
    -o-animation: animation6 3s ease-in-out infinite;
    animation: animation6 3s ease-in-out infinite;
    margin-left: 0;
    margin-right: 0;
}

@keyframes animation6 {
    0% {
        margin-left: 0;
        margin-right: 0;
    }
    25% {
        margin-left: 100%;
        margin-right: 0;
    }
    50% {
        margin-left: 0;
        margin-right: 0;
    }
    75% {
        margin-left: 0;
        margin-right: 100%;
    }
    100% {
        margin-left: 0;
        margin-right: 0;
    }
}
