div.animation8 img {
    height: 50px;
    position: relative;
    -webkit-animation: animation8 4.5s ease-in-out infinite;
    -o-animation: animation8 4.5s ease-in-out infinite;
    animation: animation8 4.5s ease-in-out infinite;
}
@keyframes animation8 {
    0% {
        left: -10%;
        transform: rotate(0);
    }
    50% {
        left: 100%;
        transform: rotate(360deg);
    }
    100% {
        left: -10%;
        transform: rotate(0);
    }
}
