div.animation10 {
    border: mediumblue thin solid;
    width: 300px;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
}

div.animation10 div {
    width: 25px;
    height: 20px;
    position: relative;
    left: -50px;
    background: darkblue;
}

div.animation10 div:nth-of-type(1) {
    animation: animation10 2.0s linear infinite;
}

div.animation10 div:nth-of-type(2) {
    top: -20px;
    animation: animation10 2.0s -.2s linear infinite;
}

div.animation10 div:nth-of-type(3) {
    top:-40px;
    animation: animation10 2.0s -.4s linear infinite;
}

div.animation10 div:nth-of-type(4) {
    top:-60px;
    animation: animation10 2.0s -.6s linear infinite;
}

div.animation10 div:nth-of-type(5) {
    top:-80px;
    animation: animation10 2.0s -.8s linear infinite;
}

div.animation10 div:nth-of-type(6) {
    top:-100px;
    animation: animation10 2.0s -1s linear infinite;
}

div.animation10 div:nth-of-type(7) {
    top:-120px;
    animation: animation10 2.0s -1.2s linear infinite;
}

div.animation10 div:nth-of-type(8) {
    top:-140px;
    animation: animation10 2.0s -1.4s linear infinite;
}

div.animation10 div:nth-of-type(9) {
    top:-160px;
    animation: animation10 2.0s -1.6s linear infinite;
}

div.animation10 div:nth-of-type(10) {
    top:-180px;
    animation: animation10 2.0s -1.8s linear infinite;
}

@keyframes animation10 {
    100% {
        transform: translateX(350px);
    }
}
