div.animation1 div {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    display:inline-block;
    background-color: silver;
    border: solid 1px darkslategrey;
    width: 20px;

    animation-name:animation1;
    -webkit-animation-name:animation1;
    -o-animation-name:animation1;

    animation-duration:2.0s;
    -webkit-animation-duration:2.0s;
    -o-animation-duration:2.0s;

    animation-timing-function:ease-out;
    -webkit-animation-timing-function:ease-out;
    -o-animation-timing-function:ease-out;

    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
}

div.animation1 div:nth-of-type(1) {
    left: 4px;
    animation-delay:-0.83s;
    -webkit-animation-delay:-0.83s;
    -o-animation-delay:-0.83s;
}

div.animation1 div:nth-of-type(2) {
    left: 28px;
    animation-delay:-0.66s;
    -webkit-animation-delay:-0.66s;
    -o-animation-delay:-0.66s;
}

div.animation1 div:nth-of-type(3) {
    left: 52px;
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
    -o-animation-delay:-0.5s;
}

div.animation1 div:nth-of-type(4) {
    left: 4px;
    animation-delay:-0.33s;
    -webkit-animation-delay:-0.33s;
    -o-animation-delay:-0.33s;
}

div.animation1 div:nth-of-type(5) {
    left: 28px;
    animation-delay:-0.16s;
    -webkit-animation-delay:-0.16s;
    -o-animation-delay:-0.16s;
}

div.animation1 div:nth-of-type(6) {
    left: 52px;
    animation-delay:0.0s;
    -webkit-animation-delay:0.0s;
    -o-animation-delay:0.0s;
}

@keyframes animation1 {
    0% {
        margin-top:18px;
        margin-bottom:18px;
        height: 4px;
    }
    50% {
        margin-top:0;
        margin-bottom:0;
        height: 40px;
    }
    100% {
        margin-top:18px;
        margin-bottom:18px;
        height: 4px;
    }
}
