div.animation11 div {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    display: inline-block;
    background-color: purple;
    box-shadow: 1px 1px 1px 1px purple, -1px -1px 1px 1px purple;
    width: 10px;
    height: 40px;
}

div.animation11 div:nth-of-type(1) {
    -webkit-animation: animation11 1s ease-in-out infinite;
    -o-animation: animation11 1s ease-in-out infinite;
    animation: animation11 1s ease-in-out infinite;
}

div.animation11 div:nth-of-type(2) {
    -webkit-animation: animation11 1s -1.66s ease-in-out infinite;
    -o-animation: animation11 1s -1.66s ease-in-out infinite;
    animation: animation11 1s -1.66s ease-in-out infinite;
}

div.animation11 div:nth-of-type(3) {
    -webkit-animation: animation11 1s -1.33s ease-in-out infinite;
    -o-animation: animation11 1s -1.33s ease-in-out infinite;
    animation: animation11 1s -1.33s ease-in-out infinite;
}

@keyframes animation11 {
    0% {
        box-shadow: 1px 1px 1px 1px purple, -1px -1px 1px 1px purple;
    }
    20% {
        box-shadow: none;
        width: 8px
    }
    80% {
        box-shadow: none;
        width: 8px;
    }
    100% {
        box-shadow: 1px 1px 1px 1px purple, -1px -1px 1px 1px purple;
    }
}
