div.animation18 div {
    display:inline-block;
    border: solid 1px indigo;
    width: 15px;
    height: 15px;
    padding: 0;

    animation-name:animation18;
    -webkit-animation-name:animation18;
    -o-animation-name:animation18;

    animation-duration:2.0s;
    -webkit-animation-duration:2.0s;
    -o-animation-duration:2.0s;

    animation-timing-function:ease-in;
    -webkit-animation-timing-function:ease-out;
    -o-animation-timing-function:ease-out;

    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
}

div.animation18 div:nth-of-type(1) {
    animation-delay:-0.83s;
    -webkit-animation-delay:-0.83s;
    -o-animation-delay:-0.83s;
}

div.animation18 div:nth-of-type(2) {
    animation-delay:-0.66s;
    -webkit-animation-delay:-0.66s;
    -o-animation-delay:-0.66s;
}

div.animation18 div:nth-of-type(3) {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
    -o-animation-delay:-0.5s;
}

div.animation18 div:nth-of-type(4) {
    animation-delay:-0.33s;
    -webkit-animation-delay:-0.33s;
    -o-animation-delay:-0.33s;
}

div.animation18 div:nth-of-type(5) {
    animation-delay:-0.16s;
    -webkit-animation-delay:-0.16s;
    -o-animation-delay:-0.16s;
}

div.animation18 div:nth-of-type(6) {
    animation-delay:-0.00s;
    -webkit-animation-delay:-0.00s;
    -o-animation-delay:-0.00s;
}

@keyframes animation18 {
    0% {
        /*opacity:0;*/
        background-color: rgba(139, 0, 0, 0.0);
    }
    10% {
        /*opacity: 1;*/
        background-color: rgba(139, 0, 0, 1.0);
    }
    15% {
        /*opacity: 0;*/
        background-color: rgba(139, 0, 0, 0.0);
    }
}
