div.animation4 {
    background-color: mediumpurple;
    -webkit-animation: animation4 2.5s ease-in-out infinite;
    -o-animation: animation4 2.5s ease-in-out infinite;
    animation: animation4 2.5s ease-in-out infinite;
    margin-left: 0;
    margin-right: 0;
}

@keyframes animation4 {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }
    33% {
        margin-left: 0;
        margin-right: 0;
    }
    66% {
        margin-left: 100%;
        margin-right: 0;
    }
    100% {
        margin-left: 0;
        margin-right: 100%;
    }
}
