div.animation12 {
    width: 600px;
    height: 20px;
    overflow-x: hidden;
    margin: 0 auto;
}
div.animation12 div {
    background: linear-gradient(to right, rgba(128,128,255,0.0), rgba(128,128,255,1));
    animation: animation12 2.5s linear infinite;
    position: relative;
    left: -600px;
}
@keyframes animation12 {
    100% {
        transform: translateX(1200px);
    }
}