div.animation15panel {
    --panel-width: 30px;
    width: var(--panel-width);
    margin: 0 auto;
}
div div.animation15 {
    --r: 256;
    --g: 80;
    --b: 80;
    animation: animation15 1.5s infinite linear;
    /*border: solid blue thin;*/
    top: calc(var(--panel-width) * 0.3);
    width: var(--panel-width);
    height: var(--panel-width);
}

div.animation15 div {
    --circle-percent: 0.5;
    --circle-width: calc(var(--panel-width) * var(--circle-percent));
    --offset: calc(var(--panel-width) - var(--circle-width));
    position: absolute;
    border-radius: 50%;
    width: var(--circle-width);
    height: var(--circle-width);
    background-color: red;
}

div.animation15 div:nth-of-type(1) {
    animation: animation15a 1s 0s infinite linear;
    top: 0;
    left: 0;
}

div.animation15 div:nth-of-type(2) {
    animation: animation15a 1s .2s infinite linear;
    top: 0;
    left: var(--offset);
}

div.animation15 div:nth-of-type(3) {
    animation: animation15a 1s 0.4s infinite linear;
    top: var(--offset);
    left: var(--offset);
}

div.animation15 div:nth-of-type(4) {
    animation: animation15a 1s 0.6s infinite linear;
    top: var(--offset);
    left: 0;
}

@keyframes animation15 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animation15a {
    0% {
        opacity: 1;
        transform: scale(0.65);
        border-radius: 5%;
    }
    25% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    90% {
        opacity: 1;
        transform: scale(1);
        border-radius: 50%;
    }
}
