div.a17panel {
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: bold;
}

div.animation17 {
    -webkit-animation: ccw 1.5s -0s ease-in-out infinite;
    -o-animation: ccw 1.5s -0s ease-in-out infinite;
    animation: ccw 1.5s -0s ease-in-out infinite;

    padding-top: 10px;
    display: inline-block;
    /*width: 200px;*/
    height: 100px;
}

div.animation17 div {
    -webkit-animation: cw 1.5s -0s ease-in-out infinite;
    -o-animation: cw 1.5s -0s ease-in-out infinite;
    animation: cw 1.5s -0s ease-in-out infinite;

    border: #f0fff0 thick double;
    box-shadow: 2px 2px 5px #633;
    /*box-shadow: #333;*/
    background-color: #800;
    width: 200px;
    padding: 5px;
}

@keyframes cw {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ccw {
    100% {
        transform: rotate(-360deg);
    }
}
