div.animation2 div {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display:inline-block;
    border: solid 1px indianred;
    width: 15px;
    height: 15px;
    padding: 0;

    animation-name:animation2;
    -webkit-animation-name:animation2;
    -o-animation-name:animation2;

    animation-duration:2.0s;
    -webkit-animation-duration:2.0s;
    -o-animation-duration:2.0s;

    animation-timing-function:ease-out;
    -webkit-animation-timing-function:ease-out;
    -o-animation-timing-function:ease-out;

    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
}

div.animation2 div:nth-of-type(1) {
    animation-delay:-0.83s;
    -webkit-animation-delay:-0.83s;
    -o-animation-delay:-0.83s;
}

div.animation2 div:nth-of-type(2) {
    animation-delay:-0.66s;
    -webkit-animation-delay:-0.66s;
    -o-animation-delay:-0.66s;
}

div.animation2 div:nth-of-type(3) {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
    -o-animation-delay:-0.5s;
}

div.animation2 div:nth-of-type(4) {
    animation-delay:-0.33s;
    -webkit-animation-delay:-0.33s;
    -o-animation-delay:-0.33s;
}

div.animation2 div:nth-of-type(5) {
    animation-delay:-0.16s;
    -webkit-animation-delay:-0.16s;
    -o-animation-delay:-0.16s;
}

div.animation2 div:nth-of-type(6) {
    animation-delay:-0.00s;
    -webkit-animation-delay:-0.00s;
    -o-animation-delay:-0.00s;
}

@keyframes animation2 {
    0% {
        background-color: rgba(256, 0, 0, 0.0);
    }
    25% {
        background-color: rgba(256, 0, 0, 1.0);
    }
    50% {
        background-color: rgba(256, 0, 0, 0.0);
    }
    75% {
        background-color: rgba(256, 0, 0, 1.0);
    }
    100% {
        background-color: rgba(256, 0, 0, 0.0);
    }
}
