/*div.panel {*/
/*    border: black 1px solid;*/
/*    width: 230px;*/
/*    margin: 0 auto;*/
/*}*/

div.animation7 {
    height: 230px;
}
div.animation7 div {
    width: 115px;
    height: 115px;
    position: absolute;
}

div.animation7 div:nth-of-type(1) {
    background: rgb(0, 0, 255);
    animation: topLeft 8s ease infinite;
}

div.animation7 div:nth-of-type(2) {
    background: rgb(255, 255, 0);
    animation: topRight 8s ease infinite;
}

div.animation7 div:nth-of-type(3) {
    background: rgb(0, 255, 0);
    animation: bottomLeft 8s ease infinite;
}

div.animation7 div:nth-of-type(4) {
    background: rgb(255, 0, 0);
    animation: bottomRight 8s ease infinite;
}

@keyframes topLeft {
    0% {
        transform-origin: right;
        transform: translateY(0) translateX(0);
    }
    25% {
        transform-origin: right;
        transform: rotateY(-180deg);
    }
    25.001% {
        transform-origin: bottom;
        transform: translateX(115px);
    }
    50% {
        transform-origin: bottom;
        transform: translateX(115px) rotateX(-180deg);
    }
    50.001% {
        transform-origin: left;
        transform: translateX(115px) translateY(115px);
    }
    75% {
        transform-origin: left;
        transform: translateX(115px) translateY(115px) rotateY(180deg);
    }
    75.001% {
        transform-origin: top;
        transform: translateY(115px);
    }
    100% {
        transform-origin: top;
        transform: translateY(115px) rotateX(180deg);
    }
}

@keyframes topRight {
    0% {
        transform-origin: bottom;
        transform: translateX(115px) translateY(0);
    }
    25% {
        transform-origin: bottom;
        transform: translateX(115px) translateY(0) rotateX(-180deg);
    }
    25.001% {
        transform-origin: left;
        transform: translateX(115px) translateY(115px);
    }
    50% {
        transform-origin: left;
        transform: translateX(115px) translateY(115px) rotateY(-180deg);
    }
    50.001% {
        transform-origin: top;
        transform: translateY(115px);
    }
    75% {
        transform-origin: top;
        transform: translateY(115px) rotateX(-180deg);
    }
    75.001% {
        transform-origin: right;
        transform: translateX(0) translateY(0);
    }
    100% {
        transform-origin: right;
        transform: translateX(0) translateY(0) rotateY(-180deg);
    }
}

@keyframes bottomLeft {
    0% {
        transform-origin: top;
        transform: translateX(0) translateY(115px);
    }
    25% {
        transform-origin: top;
        transform: translateX(0) translateY(115px) rotateX(180deg);
    }
    25.001% {
        transform-origin: right;
        transform: translateX(0) translateY(0);
    }
    50% {
        transform-origin: right;
        transform: translateX(0) translateY(0) rotateY(-180deg)
    }
    50.001% {
        transform-origin: bottom;
        transform: translateX(115px) translateY(0);
    }
    75% {
        transform-origin: bottom;
        transform: translateX(115px) translateY(0) rotateX(-180deg);
    }
    75.001% {
        transform-origin: left;
        transform: translateX(115px) translateY(115px);
    }
    100% {
        transform-origin: left;
        transform: translateX(115px) translateY(115px) rotateY(180deg);
    }
}

@keyframes bottomRight {
    0% {
        transform-origin: left;
        transform: translateX(115px) translateY(115px);
    }
    25% {
        transform-origin: left;
        transform: translateX(115px) translateY(115px) rotateY(-180deg);
    }
    25.001% {
        transform-origin: top;
        transform: translateY(115px);
    }
    50% {
        transform-origin: top;
        transform: translateY(115px) rotateX(-180deg);
    }
    50.001% {
        transform-origin: right;
        transform: translateX(0) translateY(0)
    }
    75% {
        transform-origin: right;
        transform: translateX(0) translateY(0) rotateY(180deg);
    }
    75.001% {
        transform-origin: bottom;
        transform: translateX(115px);
    }
    100% {
        transform-origin: bottom;
        transform: translateX(115px) rotateX(180deg);
    }
}

