div.animation5 div {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    display: inline-block;
    background-color: silver;
    border: solid 1px darkslategrey;
    width: 20px;
    height: 40px;
}

div.animation5 div:nth-of-type(1) {
    left: 4px;
    -webkit-animation: animation5 2s ease-in-out infinite;
    -o-animation: animation5 2s ease-in-out infinite;
    animation: animation5 2s ease-in-out infinite;
}

div.animation5 div:nth-of-type(2) {
    left: 28px;
    -webkit-animation: animation5 2s -1.66s ease-in-out infinite;
    -o-animation: animation5 2s -1.66s ease-in-out infinite;
    animation: animation5 2s -1.66s ease-in-out infinite;
}

div.animation5 div:nth-of-type(3) {
    left: 52px;
    -webkit-animation: animation5 2s -1.33s ease-in-out infinite;
    -o-animation: animation5 2s -1.33s ease-in-out infinite;
    animation: animation5 2s -1.33s ease-in-out infinite;
}

@keyframes animation5 {
    0% {
        height: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    50% {
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    100% {
        height: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
