div.animation3 {
    height: 44px;
}

div.animation3 div {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
}

div.animation3 div:nth-of-type(1) {
    background-color: red;
    border: 2px solid black;
    -webkit-animation: animation3 3.0s 0.0s ease infinite reverse;
    -o-animation: animation3 3.0s 0.0s ease infinite reverse;
    animation: animation3 3.0s 0.0s ease infinite reverse;
}

div.animation3 div:nth-of-type(2) {
    background-color: white;
    border: 2px solid black;
    -webkit-animation: animation3 3.0s -1.5s ease infinite;
    -o-animation: animation3 3.0s -1.5s ease infinite;
    animation: animation3 3.0s -1.5s ease infinite;
}

div.animation3 div:nth-of-type(3) {
    background-color: blue;
    border: 2px solid black;
    -webkit-animation: animation3 3.0s -2.0s ease infinite;
    -o-animation: animation3 3.0s -2.0s ease infinite;
    animation: animation3 3.0s -2.0s ease infinite;
}

@keyframes animation3 {
    0% {
        left: 40%
    }
    50% {
        left: 60%
    }
    100% {
        left: 40%
    }
}
