@keyframes animation19 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
div.animation19 >div {
    display:inline-flex;
    transform-origin: 0 0;
    animation-direction: normal;
    animation-name: animation19;
    -webkit-animation-name: animation19;
    -o-animation-name: animation19;

    animation-duration: 2.0s;
    -webkit-animation-duration: 2.0s;
    -o-animation-duration: 2.0s;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -o-animation-timing-function: linear;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}

div.animation19 >div img {
    height: 50px;
    width: 50px;
    position: absolute;
    left: -25px;
    top: -25px;
    animation-direction: reverse;

    animation-duration: 2.0s;
    -webkit-animation-duration: 2.0s;
    -o-animation-duration: 2.0s;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -o-animation-timing-function: linear;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}

div.animation19 >div div img {
    animation-name: animation19;
    -webkit-animation-name: animation19;
    -o-animation-name: animation19;
}

div.animation19 >div div:nth-of-type(1) {
    transform: translate(0px, -45px);
}

div.animation19 >div div:nth-of-type(2) {
    transform: translate(43px, -14px);
}

div.animation19 >div div:nth-of-type(3) {
    transform: translate(26px, 36px);
}

div.animation19 >div div:nth-of-type(4) {
    transform: translate(-26px, 36px);
}

div.animation19 >div div:nth-of-type(5) {
    transform: translate(-43px, -14px);
}

div.animation19 >div div:nth-of-type(6) {
    transform: translate(0px, 0px);
}

div.animation19 >div div:nth-of-type(6) img {
    animation-direction: reverse;

    animation-duration: 0.0s;
    -webkit-animation-duration: 0.0s;
    -o-animation-duration: 0.0s;
}