.animation9 {
    height: 20px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
    border: thin inherit groove;
}

div.animation9 div {
    width: 50px;
    height: 20px;
    position: relative;
    transform-origin: center;
    animation: animation19 2.5s linear infinite;
}

div.animation9 div:nth-of-type(1) {
    left: -250px;
    background: linear-gradient(to right, rgba(255,0,0,0.0), rgba(255,0,0,0.1));
}

div.animation9 div:nth-of-type(2) {
    top: -20px;
    left: -200px;
    background: linear-gradient(to right, rgba(255,0,0,0.1), rgba(255,0,0,0.2));
}

div.animation9 div:nth-of-type(3) {
    top:-40px;
    left:-150px;
    background: linear-gradient(to right, rgba(255,0,0,0.2), rgba(255,0,0,0.3));
}

div.animation9 div:nth-of-type(4) {
    top:-60px;
    left: -100px;
    background: linear-gradient(to right, rgba(255,0,0,0.3), rgba(255,0,0,0.4));
}

div.animation9 div:nth-of-type(5) {
    left: -50px;
    top:-80px;
    background: linear-gradient(to right, rgba(255,0,0,0.4), rgba(255,0,0,1));
}
@keyframes animation19 {
    100% {
        transform: translateX(500px)
    }
}
