div.animation20 {
    --spinner-duration: 1.5s;
    --spinner-color: red;
    --spinner-thickness: 5px;
    --spinner-diameter: 50px;
    --spinner-timing-function: linear;
    --spinner-iteration-count: infinite;
}

@keyframes animation20 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div.animation20 {
    display: inline-block;
    border: solid transparent var(--spinner-thickness);
    border-top-color: var(--spinner-color);
    border-radius: 50%;
    width: var(--spinner-diameter);
    height: var(--spinner-diameter);

    animation-direction: normal;
    animation-name: animation20;
    -webkit-animation-name: animation20;
    -o-animation-name: animation20;

    animation-duration: var(--spinner-duration);
    -webkit-animation-duration: var(--spinner-duration);
    -o-animation-duration: var(--spinner-duration);

    animation-timing-function: var(--spinner-timing-function);
    -webkit-animation-timing-function: var(--spinner-timing-function);
    -o-animation-timing-function: var(--spinner-timing-function);

    animation-iteration-count: var(--spinner-iteration-count);
    -webkit-animation-iteration-count: var(--spinner-iteration-count);
    -o-animation-iteration-count: var(--spinner-iteration-count);
}