div.animation14 div {
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    display:inline-block;
    /*background-color: #3070f544;*/
    border: solid 1px #4444dd;
    width: 15px;
    height: 15px;
    padding: 0;
}

div.animation14 div:nth-of-type(1) {
    -webkit-animation: animation14 1.5s -1.5s ease-out infinite;
    -o-animation: animation14 1.5s -1.5s ease-out infinite;
    animation: animation14 1.5s -1.5s ease-out infinite;
}

div.animation14 div:nth-of-type(2) {
    -webkit-animation: animation14 1.5s -1.0s ease-out infinite;
    -o-animation: animation14 1.5s -1.0s ease-out infinite;
    animation: animation14 1.5s -1.0s ease-out infinite;
}

div.animation14 div:nth-of-type(3) {
    -webkit-animation: animation14 1.5s -0.5s ease-out infinite;
    -o-animation: animation14 1.5s -0.5s ease-out infinite;
    animation: animation14 1.5s -0.5s ease-out infinite;
}

@keyframes animation14 {
    0% {
        box-shadow: 1px 1px 1px 1px #3070f5, -1px -1px 1px 1px #3070f5;
        border-color: #3070f5;
        background-color: #3070f5;
    }
    20% {
        box-shadow: none;
        background-color: #3070f544;
    }
}
