div.animation13 img {
    height: 50px;
    width: 50px;
    position: relative;
}
div.animation13 img:nth-of-type(even) {
    animation: animation13a 1.5s linear infinite;
}
div.animation13 img:nth-of-type(odd) {
    top: 10px;
    animation: animation13b 1.75s linear infinite;
}
div.animation13 img:nth-of-type(1) {
    left: 15px;
}
div.animation13 img:nth-of-type(2) {
    left: 5px;
}
div.animation13 img:nth-of-type(3) {
    left: -5px;
}
div.animation13 img:nth-of-type(4) {
    left: -15px;
}
div.animation13 img:nth-of-type(5) {
    left: -20px;
}
@keyframes animation13a {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animation13b {
    100% {
        transform: rotate(-360deg);
    }
}