div.a16panel {
    --panel-width: 50px;
    width: var(--panel-width);
    margin: 0 auto;
}

div.animation16 {
    --r: 256;
    --g: 0;
    --b: 0;
    animation: animation16 1.0s 0.25s infinite steps(8);
    /*border: solid blue thin;*/
    top: calc(var(--panel-width) * 0.3);
    width: var(--panel-width);
    height: var(--panel-width);
}

div.animation16 div {
    position: absolute;
    width: var(--panel-width);
    height: var(--panel-width);
}

div.animation16 div div {
    --circle-percent: 0.3;
    --circle-width: calc(var(--panel-width) * var(--circle-percent));
    --offset: calc(var(--panel-width) - var(--circle-width));
    position: absolute;
    border-radius: 50%;
    width: var(--circle-width);
    height: var(--circle-width);
    background-color: rgb(var(--r), var(--g), var(--b));
    opacity: 0;
}

div.animation16 div:nth-of-type(1) {
    transform: rotate(0deg);
}

div.animation16 div:nth-of-type(1) div {
    opacity: .16;
}

div.animation16 div:nth-of-type(2) {
    transform: rotate(45deg);
}

div.animation16 div:nth-of-type(2) div {
    opacity: .32;
}

div.animation16 div:nth-of-type(3) {
    transform: rotate(90deg);
}

div.animation16 div:nth-of-type(3) div {
    opacity: .48;
}

div.animation16 div:nth-of-type(4) {
    transform: rotate(135deg);
}

div.animation16 div:nth-of-type(4) div {
    opacity: .64;
}

div.animation16 div:nth-of-type(5) {
    transform: rotate(180deg);
}

div.animation16 div:nth-of-type(5) div {
    opacity: .80;
}

div.animation16 div:nth-of-type(6) {
    transform: rotate(225deg);
}

/*div.animation16 div:nth-of-type(6) div {*/
/*}*/

/*div.animation16 div:nth-of-type(7) {*/
/*  transform: rotate(270deg);*/
/*}*/

/*div.animation16 div:nth-of-type(7) div {*/
/*}*/

/*div.animation16 div:nth-of-type(8) {*/
/*  transform: rotate(315deg);*/
/*}*/

/*div.animation16 div:nth-of-type(8) div {*/
/*}*/

@keyframes animation16 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
